/*.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}
*/
.owl-carousel {
	position: relative;
}
.owl-prev,
.owl-next {
	position: absolute;
	top: 50%;
	margin-top: -10px;
}
.owl-prev {
	left: 0;
}
.owl-next {
	right: 0;
}
